#Light .footer {
    background-color: rgba(98, 0, 238, 255);
}

#Dark .footer {
    background-color: rgba(40,48,62,255);
}

.footer {
    display: flex;
    min-height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: hsla(0, 100%, 60%, 0.15);
    color: black;
    border-top-color: black;
    border-top: 2px;
    width: 100vw
    
}

.credits {
    margin-left: 10px;
}



