.App {
  background-color: aqua;
}

.App a {
    text-decoration: none;
}

#Light {
  background-color: rgb(242, 244, 246);
}

#Dark {
  background-color: black;
  color: white;
}

#Dark a {
  color: white;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}
