.App {
    background-color: aqua;
}

#Light {
    background-color: rgb(242, 244, 246);
}

#Dark {
    background-color: black;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;  
}